* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif; }

.header {
  background-image: url("/assets/images/header.jpg"); }
  @media (max-width: 768px) {
    .header {
      height: 330px;
      background-size: cover;
      background-position: center; } }
  @media (min-width: 768px) {
    .header {
      height: 100vh;
      background-size: cover; } }

@media (max-width: 768px) {
  .hamburger {
    width: 18px;
    height: 12px; } }

@media (min-width: 768px) {
  .hamburger {
    display: none; } }

.links {
  display: none; }
  @media (min-width: 768px) {
    .links {
      display: block; } }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 61px; }

.links-container {
  text-decoration: none;
  color: #023538; }

.h1 {
  color: #023538;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center; }

.h3 {
  color: #eee8e1;
  width: 176px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 24px 140px 0px 140px;
  padding: 12px 24px;
  background-color: #0c474b; }

.section1 {
  background-color: #eee8e1;
  display: grid;
  color: #023538; }

.lema {
  padding-top: 41px;
  margin-bottom: 41px;
  text-align: center;
  color: #0c474b;
  font-size: 20pt; }

.article {
  padding-top: 41px;
  margin-bottom: 41px;
  text-align: center;
  color: #0c474b;
  font-size: 10pt; }

.icon1 {
  width: 99px;
  height: 93px; }

.section2 {
  background-color: #ff975a;
  color: #eee8e1;
  height: 352px; }

.car-text {
  padding-top: 41px;
  margin-bottom: 41px;
  text-align: center;
  font-size: 10pt; }

.section3 {
  background-color: #eee8e1;
  color: #0c474b; }

.disfruta {
  padding-top: 41px;
  margin-bottom: 41px;
  text-align: center;
  font-size: 10pt; }

.compra-ahora {
  color: #eee8e1;
  width: 128px;
  height: 24px;
  flex-grow: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  background-color: #0c474b; }

.creando-espacio {
  width: 375px;
  height: 304px; }

.footer {
  background-color: #03565a;
  color: #b6c8c9;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px; }

.nav1 {
  margin-top: 56px;
  margin-left: 100px;
  margin-right: 59px; }

.nav2 {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 59px; }

.nav3 {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 59px; }

.nav4 {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 59px;
  margin-bottom: 56px;
  display: flex;
  align-items: flex-start; }

.footer-ul {
  list-style: none; }

.links-footer {
  text-decoration: none;
  color: #b6c8c9;
  font-size: 14px; }

.linkedin {
  width: 24px;
  height: 26px;
  margin: 0 11px 0 0;
  -o-object-fit: contain;
  object-fit: contain; }

.instagram {
  width: 25px;
  height: 26px;
  margin: 0 11px;
  -o-object-fit: contain;
  object-fit: contain; }

.twitter {
  width: 24px;
  height: 26px;
  margin: 0 0 0 11px;
  -o-object-fit: contain;
  object-fit: contain; }

/*# sourceMappingURL=main.css.map */
