// @import 'core/variables';
@import "core/reset";
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("/assets/images/header.jpg");

  // mobile
  @media (max-width: 768px) {
    height: 330px;
    background-size: cover;
    background-position: center;
  }

  //tablet
  @media (max-width: 768px) {
    height: 330px;
    background-size: cover;
    background-position: center;
  }

  // DESKTOP
  @media (min-width: 768px) {
    height: 100vh;
    background-size: cover;
  }
}

.hamburger {
  // mobile
  @media (max-width: 768px) {
    width: 18px;
    height: 12px;
  }
  // DESKTOP
  @media (min-width: 768px) {
    display: none;
  }
}

.logo {
}
.links {
  display: none;
  //tablet
  @media (min-width: 768px) {
    display: block;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 61px;
}
.links-container {
  text-decoration: none;
  color: #023538;
}
.h1 {
  color: #023538;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;

  //mobilr
  @media (max-width: 768px) {
    text-align: center;
  }
  //desktop
  @media (min-width: 768px) {
    margin: 24px 140px 0px 140px;
  }
}

.h3 {
  color: #eee8e1;
  width: 176px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: #0c474b;
  margin-left: 140px;
  margin-top: 20px;
}

.section1 {
  background-color: #eee8e1;
  color: #023538;
  padding: 41px 0 41px;
}

.lema-container {
  display: flex;
  justify-content: center;
}

.lema {
  text-align: center;
  color: #0c474b;
  font-size: 20pt;
  font-weight: 600;
  margin: 0px 47px 10px;
  max-width: 600px;
}

.article {
  text-align: center;
  color: #0c474b;
  font-size: 10pt;
  padding: 0 47px 18px 45px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.classe-1-title {
  padding-bottom: 10px;
}

.clase1 {
  width: 200px;
}
.icon1 {
  width: 99px;
  height: 93px;
  margin: 37px 0;
}

.section2 {
  background-color: #ff975a;
  height: 352px;
}
.car-text {
  padding-top: 41px;
  margin-bottom: 41px;
  text-align: center;
  font-size: 10pt;
}

.text-white {
  color: white;
}

.garantizado {
  margin: 5px 0 5px 0;
}

.desde-100 {
  margin: 5px 0 5px 0;
  font-weight: 400;
}

.section3 {
  background-color: #eee8e1;
  color: #0c474b;
}
.disfruta {
  padding-top: 41px;
  margin-bottom: 41px;
  text-align: center;
  font-size: 10pt;
  padding: 87px 27px 92px;
}

.linea-productos {
  margin-top: 10px;
}

.compra-ahora {
  color: #eee8e1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #0c474b;
  padding: 12px 24px;
}
.container-compra-ahora {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.creando-espacio {
  background-image: url("../images/creando-espacios.jpg");
  width: 100%;
  height: 304px;
  background-position: center;
  background-size: cover;
}
.footer {
  background-color: #03565a;
  color: #b6c8c9;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.nav1 {
  margin-top: 56px;
  margin-left: 100px;
  margin-right: 59px;
}

.nav2 {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 59px;
}
.nav3 {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 59px;
}

.nav4 {
  margin-top: 20px;
  margin-left: 122px;
  margin-right: 59px;
  margin-bottom: 56px;
  display: flex;
  align-items: flex-start;
}

.footer-ul {
  list-style: none;
}
.links-footer {
  text-decoration: none;
  color: #b6c8c9;
  font-size: 14px;
}

.linkedin {
  width: 24px;
  height: 26px;
  margin: 0 11px 0 0;
  object-fit: contain;
}
.instagram {
  width: 25px;
  height: 26px;
  margin: 0 11px;
  object-fit: contain;
}

.twitter {
  width: 24px;
  height: 26px;
  margin: 0 0 0 11px;
  object-fit: contain;
}
